* {
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    
}
body {
    background: linear-gradient(to top, transparent, lightyellow), url("topomap.jpg"); 
    background-attachment: fixed;  
}

/* .menu-right {
    float: right; */
}

footer {
    background:rgb(99, 97, 97);
    border: teal; 
    border-top-style: solid; 
    border-width: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 15px;
    /* need to add copyright */
}